/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/

.tetris-block {
    border-width: 12px;
    border-style: outset;
    display: inline-block;
    padding: 20px;
}

.red {
    background-color: red;
    border-color: darkred;
    border-radius: 5px;
}

.pink {
    background-color: pink;
    border-color: hotpink;
    border-radius: 5px;
}

.blue {
    background-color: blue;
    border-color: darkblue;
    border-radius: 5px;
}

.turquoise {
    background-color: turquoise;
    border-color: darkturquoise;
    border-radius: 5px;
}

.cyan {
    background-color: cyan;
    border-color: darkcyan;
    border-radius: 5px;
}

.light-pink {
    background-color: lightpink;
    border-color: pink;
    border-radius: 5px;
}

.magenta {
    background-color: magenta;
    border-color: darkmagenta;
    border-radius: 5px;
}

.golden-rod {
    background-color: goldenrod;
    border-color: darkgoldenrod;
    border-radius: 5px;
}

.orange {
    background-color: orange;
    border-color: darkorange;
    border-radius: 5px;
}

.green {
    background-color: green;
    border-color: darkgreen;
    border-radius: 5px;
}

.cornflower-blue {
    background-color: cornflowerblue;
    border-color: blue;
    border-radius: 5px;
}

.slateblue {
    background-color: slateblue;
    border-color: darkslateblue;
    border-radius: 5px;
}

.aqua {
    background-color: aqua;
    border-color: darkturquoise;
    border-radius: 5px;
}

.orchid {
    background-color: orchid;
    border-color: darkorchid;
    border-radius: 5px;
}

.brown {
    background-color: brown;
    border-color: darkred;
    border-radius: 5px;
}

.hotpink {
    background-color: hotpink;
    border-color: #b4457c;
    border-radius: 5px;
}

.crimson {
    background-color: crimson;
    border-color: darkred;
    border-radius: 5px;
}